body {
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(circle at 20% 20%,
      #7F55B1 0%,
      #9B7EBD 25%,
      #F49BAB 55%,
      #FFE1E0 100%);
  background-size: 200% 200%;
  animation: pastelRadialMove 5s ease-in-out infinite alternate;
}

@keyframes pastelRadialMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}
