.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-auto-rows: 14em;
  gap: 1em;
  
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

@media (max-width: 600px) {
  .parent {
    grid-template-columns: 1fr;
  }

  .div1 { grid-area: auto; }
  .div2 { grid-area: auto; }
  .div3 { grid-area: auto; }
  .div4 { grid-area: auto; }
  .div5 { grid-area: auto; }
  .div6 { grid-area: auto; }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .div1 { grid-area: auto; }
  .div2 { grid-area: auto; }
  .div3 { grid-area: auto; }
  .div4 { grid-area: auto; }
  .div5 { grid-area: auto; }
  .div6 { grid-area: auto; }
}


